/* Default styles for all devices */
[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
}

/* Responsive styles for small devices (up to 600px) */
@media (max-width: 600px) {
  [class^="number-slide"],
  [class*=" number-slide"] {
    height: 30vh;
  }
}

/* Responsive styles for medium devices (601px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  [class^="number-slide"],
  [class*=" number-slide"] {
    height: 30vh;
  }
}

/* Responsive styles for large devices (1025px and above) */
@media (min-width: 1025px) {
  [class^="number-slide"],
  [class*=" number-slide"] {
    height: 100vh;
  }
}

.navigation-wrapper {
  position: relative;
}

.number-slide1,
.number-slide2,
.number-slide3,
.number-slide4,
.number-slide5 {
  background: rgb(173, 216, 255);
  background: linear-gradient(128deg, rgba(173, 216, 255, 1) 0%, rgba(173, 194, 255, 1) 100%);
}

/* .number-slide1 {
  background: rgb(173, 216, 255);
  background: linear-gradient(128deg, rgba(173, 216, 255, 1) 0%, rgba(173, 194, 255, 1) 100%);
}

.number-slide2 {
  background: rgb(255, 201, 173);
  background: linear-gradient(128deg, rgba(255, 226, 173, 1) 0%, rgba(255, 201, 173, 1) 100%);
}

.number-slide3 {
  background: rgb(224, 255, 173);
  background: linear-gradient(128deg, rgba(224, 255, 173, 1) 0%, rgba(173, 255, 181, 1) 100%);
}

.number-slide4 {
  background: rgb(173, 216, 255);
  background: linear-gradient(128deg, rgba(173, 216, 255, 1) 0%, rgba(173, 194, 255, 1) 100%);
}

.number-slide5 {
  background: rgb(224, 255, 173);
  background: linear-gradient(128deg, rgba(224, 255, 173, 1) 0%, rgba(173, 255, 181, 1) 100%);
} */
